{% extends 'base.html.twig' %}

{% block title %}{{ pokemonCard.name }} Details{% endblock %}

{% block body %}
    <h1>{{ pokemonCard.name }}</h1>

    <img src="{{ pokemonCard.images.large }}" alt="{{ pokemonCard.name }}">
    <p>ID: {{ pokemonCard.id }}</p>
    <p>Type(s): {{ pokemonCard.types|join(', ') }}</p>
    <p>Resistances: {% for resistance in pokemonCard.resistances %}
            {{ resistance.type }} {{ resistance.value }} </br>
        {% endfor %}</p>
    <p>Weaknesses: {% for weakness in pokemonCard.weaknesses %}
            {{ weakness.type }} {{ weakness.value }} </br>
        {% endfor %}</p>
    <p>Attacks:</p>
    <ul>
        {% for attack in pokemonCard.attacks %}
            <li>{{ attack.name }}</li>
        {% endfor %}
    </ul>

    <a id="regularListLink" >Back to regular list</a>
    <a href="{{ path('pokemon_card_list_jquery') }}">Back to jQuery list</a>
    <script>
        let the_link = "{{path("pokemon_card_list", {'page': "PAGE_NUMBER"})}}";
        the_link = the_link.replace("PAGE_NUMBER", localStorage.getItem('currentPage') ? localStorage.getItem('currentPage') : 1);
        $( "#regularListLink" ).attr( 'href', the_link );
    </script>
{% endblock %}
