{% extends 'base.html.twig' %}

{% block title %}Pokémon Cards{% endblock %}

{% block body %}
    <h1>Pokémon Cards</h1>

    <a href="{{ path('pokemon_card_list_jquery') }}">list all cards with jQuery</a>

    <div class="pagination">
        {% if currentPage > 1 %}
            <a href="{{ path('pokemon_card_list', { page: currentPage - 1 }) }}">&laquo; Previous</a>
        {% endif %}

        <span>Page {{ currentPage }} of {{ totalPages }}</span>

        {% if currentPage < totalPages %}
            <a href="{{ path('pokemon_card_list', { page: currentPage + 1 }) }}">Next &raquo;</a>
        {% endif %}
    </div>

    <ul id="pokemonList" class="gallery">
        {% for card in pokemonCards %}
            <li>
                <a href="{{ path('pokemon_card_detail', {id: card.id}) }}">
                    <div class="zoom">
                        <img class="pokemonImageSmall" src="{{ card.images.small }}" alt="{{ card.name }}" data-id="{{ card.id }}">
                        <p>Name: {{ card.name }}</p>
                        <p>ID: {{ card.id }}</p>
                        <p>Type(s): {{ card.types | join(', ') }}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    <script>
        localStorage.setItem('currentPage',{{ currentPage }});
    </script>
{% endblock %}

